<div class="page-container-lg">

    <div ng-if="vm.mode=='edit' || vm.mode=='add' || vm.mode=='join'">
        <h2 class="font-display fw-600 m-0 mb-lg">
            <span ng-if="vm.mode=='add'">New Account</span>
            <span ng-if="vm.mode=='edit'">Account Editor</span>
            <span ng-if="vm.mode=='join'">Create a Library Account</span>
        </h2>
    </div>

    <form name="userForm" novalidate>

        <div ng-if="vm.mode=='edit' || vm.mode=='add' || vm.mode=='join'"
             class="flex flex-wrap gap-lg mb-lg">
            <div class="flex-1 min-w-320">
                <div class="card">
                    <div class="card-header">
                        <span class="card-headline">Primary Contact</span>
                    </div>
                    <div class="card-content">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input ng-model="vm.account.FirstName" type="text">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input ng-model="vm.account.LastName" type="text">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Phone Number</label>
                            <input name="phone" ng-model="vm.account.Phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                            <div class="hint" ng-show="vm.showHints">(###) ###-####</div>
                            <div ng-messages="userForm.phone.$error" ng-hide="vm.showHints">
                                <div ng-message="pattern">(###) ###-#### format required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input name="email" ng-model="vm.account.Email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div class="hint" ng-show="vm.showHints">This is also your username</div>
                            <div ng-messages="userForm.email.$error" ng-hide="vm.showHints">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Must be a valid email between 10 and 100 characters.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div class="flex-1 min-w-320">
                <div class="card">
                    <div class="card-header">
                        <span class="card-headline">Shipping Information</span>
                    </div>
                    <div class="card-content">
                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="vm.account.Address1">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block">
                            <input ng-model="vm.account.Address2" placeholder="Address 2">
                        </md-input-container>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>City</label>
                                <input ng-model="vm.account.City">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>State</label>
                                <md-select ng-model="vm.account.State">
                                    <md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Postal Code</label>
                                <input name="postalCode" ng-model="vm.account.Zip">
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Country</label>
                            <input ng-model="vm.account.Country">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.mode!='join' && (vm.mode=='edit' || vm.mode=='add')" class="mb-lg">
            <div class="card" style="max-width:500px">
                <div class="card-header">
                    <span class="card-headline">Account Settings</span>
                </div>
                <div class="card-content">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Account Type</label>
                        <md-select ng-model="vm.account.AccountType">
                            <md-option value="Member">Member</md-option>
                            <md-option value="Staff">Staff</md-option>
                            <md-option value="Librarian">Librarian</md-option>
                            <md-option value="Admin">System Administrator</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Status</label>
                        <md-select ng-model="vm.account.Status">
                            <md-option value="Active">Active</md-option>
                            <md-option value="Inactive">Inactive</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div ng-if="vm.mode=='edit' || vm.mode=='add'" class="flex gap-sm flex-wrap items-center mb-lg">
            <button ng-click="vm.go('library/accounts')" class="btn btn-default">Cancel</button>
            <button ng-click="vm.SaveUser(0)" class="btn btn-primary">Save</button>
            <button ng-click="vm.SaveUser(1)" class="btn btn-primary">Save &amp; Close</button>
            <button ng-click="vm.SaveUser(2)" class="btn btn-primary">Save &amp; New</button>
            <span class="flex-spacer"></span>
            <button ng-if="vm.account.AccountId>0" ng-click="vm.Delete()" class="btn btn-danger">
                <i class="fa fa-trash-o icon-mr"></i> Delete Account
            </button>
        </div>

        <div ng-if="vm.mode=='join'" class="mb-lg">
            <button ng-if="!userForm.$valid" ng-click="vm.showError(0)" class="btn btn-default btn-disabled">
                Form not yet complete
            </button>
            <button ng-if="userForm.$valid && vm.account.PasswordRepeat" ng-click="vm.SaveUser(4)" class="btn btn-primary">
                <i class="fa fa-check icon-mr"></i> Confirm &amp; Join the Library
            </button>
        </div>

    </form>

    <!-- PASSWORD DIALOG (hidden) -->
    <div class="invisible">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding>
                <form class="form-inline">
                    <div class="flex gap-sm items-center">
                        <label class="form-label">New Password</label>
                        <input class="form-control" type="password" ng-model="NewPassword" placeholder="password">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.UpdatePassword(NewPassword)">Save</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.CancelPassword()">Cancel</button>
                    </div>
                </form>
            </md-dialog>
        </div>
    </div>

    <!-- ACCOUNT LIST VIEW -->
    <div ng-if="vm.mode=='list'">
        <div class="flex justify-between items-center flex-wrap gap-md mb-lg">
            <h2 class="font-display fw-600 m-0">Accounts</h2>
            <form class="form-inline">
                <input type="text" ng-model="vm.searchText" class="form-control" style="width:250px" placeholder="Search accounts..." />
                <button type="button" class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.AddAccount();">
                    <i class="fa fa-plus icon-mr"></i> Add Account
                </button>
            </form>
        </div>

        <table class="table cursor-pointer">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
            </tr>
            <tr ng-repeat="act in vm.accounts | filter: vm.searchText | filter: {Status: 'Active'}">
                <td ng-click="vm.editAccount(act)">{{act.AccountId}}</td>
                <td ng-click="vm.editAccount(act)" class="fw-500">{{act.FirstName}}</td>
                <td ng-click="vm.editAccount(act)" class="fw-500">{{act.LastName}}</td>
                <td ng-click="vm.editAccount(act)">{{act.Email}}</td>
                <td ng-click="vm.editAccount(act)">{{act.Phone}}</td>
                <td ng-click="vm.editAccount(act)">
                    <span class="badge badge-neutral">{{act.AccountType}}</span>
                </td>
            </tr>
        </table>
    </div>

</div>
