<div class="page-container-sm">

    <h2 class="font-display fw-600 m-0 mb-lg">Subjects</h2>

    <div ng-if="vm.hidelist" style="max-width:500px">
        <div class="card card-padded">
            <h4 class="font-display fw-600 m-0 mb-lg text-primary">
                {{vm.mysubject.SubjectId > 0 ? 'Edit Subject' : 'New Subject'}}
            </h4>

            <div class="form-field">
                <label>Prefix</label>
                <input type="text" ng-model="vm.mysubject.Prefix" ng-if="vm.mysubject.SubjectId==0" class="form-control" />
                <input type="text" ng-model="vm.mysubject.Prefix" ng-if="vm.mysubject.SubjectId>0" class="form-control" readonly />
            </div>
            <div class="form-field">
                <label>Subject Name</label>
                <input type="text" ng-model="vm.mysubject.Name" class="form-control" />
            </div>
            <div class="form-field">
                <label>Last ID</label>
                <input type="number" ng-model="vm.mysubject.LastId" class="form-control" />
            </div>
            <div class="form-field">
                <label>Status</label>
                <select class="form-control" ng-model="vm.mysubject.Status">
                    <option>Active</option>
                    <option>Deleted</option>
                </select>
            </div>

            <div class="flex gap-sm">
                <button type="button" class="btn btn-default" ng-click="vm.CancelEdit()">Cancel</button>
                <button ng-if="vm.mysubject.SubjectId>0" type="button" ng-click="vm.Save(1)" class="btn btn-primary">Save Changes</button>
                <button ng-if="vm.mysubject.SubjectId==0 && vm.mysubject.Prefix!=''" type="button" ng-click="vm.Save(2)" class="btn btn-primary">Add New</button>
            </div>
        </div>
    </div>

    <div ng-hide="vm.hidelist">
        <table class="table cursor-pointer">
            <tr>
                <th class="cursor-pointer">
                    <a href ng-click="col = (col=='Prefix' ? '-Prefix' : 'Prefix')">
                        Prefix
                        <i class="fa text-muted text-xs icon-mr" ng-class="{'fa-sort-up': col=='Prefix', 'fa-sort-down': col=='-Prefix', 'fa-sort': col!='Prefix' && col!='-Prefix'}"></i>
                    </a>
                </th>
                <th class="cursor-pointer">
                    <a href ng-click="col = (col=='Name' ? '-Name' : 'Name')">
                        Subject
                        <i class="fa text-muted text-xs icon-mr" ng-class="{'fa-sort-up': col=='Name', 'fa-sort-down': col=='-Name', 'fa-sort': col!='Name' && col!='-Name'}"></i>
                    </a>
                </th>
                <th class="cursor-pointer">
                    <a href ng-click="col = (col=='Status' ? '-Status' : 'Status')">
                        Status
                        <i class="fa text-muted text-xs icon-mr" ng-class="{'fa-sort-up': col=='Status', 'fa-sort-down': col=='-Status', 'fa-sort': col!='Status' && col!='-Status'}"></i>
                    </a>
                </th>
                <th class="cursor-pointer">
                    <a href ng-click="col = (col=='LastId' ? '-LastId' : 'LastId')">
                        Last #
                        <i class="fa text-muted text-xs icon-mr" ng-class="{'fa-sort-up': col=='LastId', 'fa-sort-down': col=='-LastId', 'fa-sort': col!='LastId' && col!='-LastId'}"></i>
                    </a>
                </th>
                <th class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="vm.Edit()">
                        <i class="fa fa-plus icon-mr"></i> Add New
                    </button>
                </th>
            </tr>
            <tr ng-repeat="subject in vm.subjects | orderBy: [col]">
                <td><span class="font-mono text-primary">{{subject.Prefix}}</span></td>
                <td class="fw-500">{{subject.Name}}</td>
                <td>
                    <span class="badge"
                          ng-class="subject.Status=='Active' ? 'badge-active' : 'badge-deleted'">
                        {{subject.Status}}
                    </span>
                </td>
                <td>{{subject.LastId}}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.Edit(subject)">
                        <i class="fa fa-pencil icon-mr"></i> Edit
                    </button>
                </td>
            </tr>
        </table>
    </div>

</div>
