<div class="page-container">

    <crumbs links="vm.links"></crumbs>

    <div class="mb-md">
        <h2 class="page-title" ng-bind="vm.pageTitle">Full Catalog</h2>
    </div>

    <div class="mb-lg">
        <div class="px-sm">
            <form class="form-inline">
                <div class="flex-1 min-w-250">
                    <input type="text" name="search" class="form-control w-full" ng-model="vm.searchText"
                        ng-keypress="vm.SearchKey($event);"
                        placeholder="Search by title, author, or keyword..." />
                </div>
                <button type="button" class="btn btn-primary" ng-click="vm.Search(vm.searchText);">
                    <i class="fa fa-search icon-mr"></i> Search
                </button>
                <button type="button" class="btn btn-default" ng-if="vm.searchText" ng-click="vm.ClearSearch();">Clear</button>
                <button type="button" class="btn btn-default" ng-click="vm.Recent();">
                    <i class="fa fa-clock-o icon-mr"></i> Recent
                </button>
            </form>
        </div>
    </div>

    <div ng-if="!vm.searchResults" class="loading-container">
        <div class="spinner spinner-lg"></div>
        <p class="loading-text">Searching the catalog...</p>
    </div>

    <div ng-if="vm.searchResults" class="px-sm">
        <table class="table cursor-pointer">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Subject</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="book in vm.books track by $index">
                <td>
                    <img ng-click="vm.getBook(book)" class="cursor-pointer block" ng-if="book.Url!=''"
                        ng-src="https://d2rg9t5epa49og.cloudfront.net/{{book.Url}}" width="80" />
                    <div class="mt-xs">
                        <a ng-href="#/library/catalog/view/{{book.Prefix}}/{{book.BookNumber}}"
                           class="text-sm text-muted">{{book.CallNumber}}</a>
                    </div>
                </td>
                <td class="fw-500">
                    <a ng-href="#/library/catalog/view/{{book.Prefix}}/{{book.BookNumber}}">{{book.Title}}</a>
                </td>
                <td><a ng-href="#library/author/{{book.Author}}" class="text-secondary">{{book.Author}}</a></td>
                <td><a ng-href="#library/subject/{{book.Prefix}}" class="text-secondary">{{book.Subject}}</a></td>
                <td>
                    <span class="badge"
                          ng-class="{'badge-active': book.Status=='Active',
                                     'badge-inactive': book.Status=='Inactive',
                                     'badge-checked-out': book.Status=='Checked Out',
                                     'badge-on-request': book.Status=='On Request',
                                     'badge-default': book.Status!='Active' && book.Status!='Inactive' && book.Status!='Checked Out' && book.Status!='On Request'}">
                        {{book.Status.toLowerCase()}}
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div ng-repeat="b in vm.recent track by $index">
        <book-tile book="b"></book-tile>
    </div>

</div>
