<div class="page-container">

    <h2 class="font-display fw-600 m-0 mb-lg">Reservation</h2>

    <div class="mb-lg px-lg">
        <form class="form-inline">
            <input type="text" ng-model="vm.email" class="form-control" style="width:350px" placeholder="Requester Email" />
            <input type="text" ng-model="vm.callNumber" ng-keypress="vm.AddTitle($event);" class="form-control" style="width:130px" placeholder="Call Number" />
            <button type="button" class="btn btn-default" ng-click="vm.AddRequest(vm.callNumber);">Add Request</button>
            <button type="button" class="btn btn-default" ng-click="vm.AddEditRequest(vm.callNumber);">Add &amp; Edit Request</button>
        </form>
    </div>

    <div class="mb-md">
        <button type="button" class="btn btn-default" ng-if="vm.ShipSelections.length==0" disabled>Ship Selected</button>
        <button type="button" class="btn btn-primary" ng-if="vm.ShipSelections.length>1" ng-click="Ship()">Ship {{vm.ShipSelections.length}} Books</button>
        <button type="button" class="btn btn-primary" ng-if="vm.ShipSelections.length==1" ng-click="Ship()">Ship {{vm.ShipSelections.length}} Book</button>
    </div>

    <div class="overflow-x-auto">
        <table class="table cursor-pointer">
            <tr>
                <th>Reservation</th>
                <th>Request By</th>
                <th>Call Number</th>
                <th>Title</th>
                <th>Request Date</th>
                <th>Pack Date</th>
                <th>Ship Date</th>
                <th>Due Date</th>
                <th>Receive Date</th>
                <th>Reshelve Date</th>
            </tr>
            <tr ng-repeat="res in vm.requests">
                <td class="text-center">
                    <div ng-if="res.ReservationId==0" style="width:20px;margin:0 auto"><input ng-click="vm.ShipItem(res)" type="checkbox" class="form-control" /></div>
                    <a ng-if="res.ReservationId!=0" ng-href="/library/reservation/{{res.ReservationId}}">{{res.ReservationId}}</a>
                </td>
                <td ng-click="vm.EditRequest(obj)">{{res.RequestByEmail}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.CallNumber}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.Title}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.RequestDate | date:'MM/dd/yyyy'}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.PackDate | date:'MM/dd/yyyy'}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.ShipDate | date:'MM/dd/yyyy'}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.DueDate | date:'MM/dd/yyyy'}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.ReceiveDate | date:'MM/dd/yyyy'}}</td>
                <td ng-click="vm.EditRequest(obj)">{{res.ReshelveDate | date:'MM/dd/yyyy'}}</td>
            </tr>
        </table>
    </div>

</div>
