<div class="page-container py-xl">

    <div class="flex flex-wrap items-center gap-lg">
        <div class="flex-1 min-w-280 px-lg">
            <div class="card accent-border">
                <div class="card-header">
                    <span class="card-title text-2xl">Welcome to the PFSA Library</span>
                </div>
                <div class="card-content homepage">
                    The library collection consists of over 12,000 works dealing with the Portuguese throughout
                    the world. It holds a vast number of books on the Azores and a fairly complete sample of
                    periodicals published by the Portuguese in California, some dating to the late 1880's.
                    The library contains many historical materials on Portuguese from all over the world.
                    We provide our community with various magazines, periodicals, albums, videos, micro films,
                    etc. Most of the collection circulates for periods of two weeks each and books can be
                    requested from anywhere in California through interlibrary loan services provided by a
                    network of public and academic libraries throughout California.
                </div>
            </div>
        </div>
        <div class="flex-1 min-w-280 px-lg">
            <img src="/images/library.jpg" class="hero-image" />
        </div>
    </div>

    <div class="mt-2xl mb-md px-lg">
        <h3 class="section-heading">Recent Additions</h3>
        <p class="section-subtext">The latest titles added to our collection</p>
    </div>

    <div class="flex-container px-sm">
        <div ng-repeat="book in vm.books track by $index" ng-if="book.Url!=''">
            <div class="card bookItem" ng-click="vm.GetBook(book)">
                <img class="card-image" ng-src="https://d2rg9t5epa49og.cloudfront.net/{{book.Url}}" />
                <div class="card-header">
                    <b>{{book.Title}}</b>
                </div>
                <div class="card-footer">
                    {{book.Author}}
                </div>
            </div>
        </div>
    </div>

</div>
