
<div class="row" ng-hide="vm.loading">
    <div ng-show="vm.editing" class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-10 col-md-10">
        <h2 ng-if="vm.book.Title==null">New Book</h2>
        <h2 ng-bind="vm.book.Title">Book Title</h2>
        <div class="form-group row">
            <div class="col-sm-7">
                <label for="example-color-input" class="form-label">Subject</label>
                <select class="form-control" ng-model="vm.SelectedSubject" 
                        ng-change="vm.book.SubjectId=vm.SelectedSubject.SubjectId" 
                        ng-options="subject.Name for subject in vm.subjects"></select>
            </div>
            <div class="col-sm-2" style="margin-top:25px">
                <button class="btn btn-default" type="button" ng-click="vm.ApplySubject()">Generate CallNumber</button>
            </div>
        </div>

        <div class="form-group form-inline row" ng-if="vm.book.CallNumber">
            <div class="col-sm-8">
                <div>
                    <label for="example-color-input" class="form-label">CallNumber</label>
                </div>
                <input ng-if="vm.mode=='update'" class="form-control" type="text" ng-model="vm.book.CallNumber"
                       disabled id="example-color-input">
                <input ng-if="vm.mode=='insert'"
                       class="form-control" type="text" disabled
                       style="width:60px" ng-model="vm.book.Prefix" />
                <input ng-if="vm.mode=='insert'" class="form-control"
                       style="width:100px"
                       type="number" ng-model="vm.book.BookNumber"
                       id="example-color-input">
            </div>
        </div>

        <div ng-if="vm.book.CallNumber">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="example-color-input" class="form-label">Title</label>
                    <input class="form-control" type="text"
                           placeholder="Enter the book title"
                           ng-model="vm.book.Title">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                    <label for="example-color-input" class="form-label">Author (if more than one author, separate with an &)</label>
                    <input class="form-control" type="text" ng-model="vm.book.Author"
                           placeholder="last name, first name">
                </div>
            </div>

            <div class="form-group row" ng-if="vm.bookImage!=''">
                <div class="col-sm-3">

                    <img ng-src="{{vm.bookImage}}" width="200" /><br />
                    <button class="btn btn-warn" type="button" ng-click="vm.bookImage=''">Clear</button>
                </div>
                <div class="col-sm-5">
                    <label for="Notes" class="form-label">Description</label>
                    <textarea class="form-control" style="width:100%;height:250px" type="text" ng-model="vm.book.Notes"
                              id="Notes"></textarea>
                </div>
            </div>
            <button type="button" ng-click="vm.checkFile()">click me</button>
            <img id="image">
            <div class="form-group row" ng-if="vm.bookImage==''">
            
                <div class="col-sm-2" ng-if="!vm.image.uploading">
                    <label for="example-color-input" class="form-label">Image </label>
                  
                    <form name="myForm">
                        <input id="txtFile" ng-blur="alert()" name="file" type="file" file-model="vm.file" class="form-control" output="bookimage">
                    </form>

                </div>

                <div class="col-sm-1" ng-if="!vm.image.uploading">
                    <div><button type="button" class="btn btn-default" style="margin-top:25px" ng-click="vm.uploadImage()">Upload</button></div>
                </div>
                <div class="col-sm-5">
                    <label for="example-color-input" class="form-label">Description</label>
                    <textarea class="form-control" type="text" ng-model="vm.book.Notes"
                              id="example-color-input"></textarea>
                </div>
            </div>

            <div class="form-group row">
               
            </div>
            <div class="form-group row" ng-if="vm.mode!='insert'">
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label for="example-color-input" class="form-label">Status:</label>

                        <div style="display:inline;color:blue;border:solid 1px gray;padding:10px"><b>{{vm.book.Status}}</b></div>
                        <div style="display:inline" ng-if="vm.book.Status!='Checked Out' && vm.book.Status!='On Request'">
                            <button type="button" class="btn btn-sm btn-danger" ng-click="vm.book.Status='Deleted'">Set as Deleted</button>
                            <button type="button" class="btn btn-sm btn-info" ng-click="vm.book.Status='Inactive'">Set as Inactive</button>
                            <button ng-if="vm.book.Status!='Active'" type="button" class="btn btn-sm btn-primary" ng-click="vm.book.Status='Active'">Set as Active</button>
                        </div>
                        <div style="display:inline" ng-if="vm.book.Status=='Checked Out'">
                             <button type="button" class="btn btn-sm btn-primary" ng-click="vm.go('requests')">Check In</button>
                        </div>
                        <div style="display:inline" ng-if="vm.book.Status=='On Request'">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="vm.go('requests')">Update Request</button>
                        </div>
                    </div>
                    <div class="form-group row">

                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-8">
                    <button ng-click="vm.go('catalog')" class="btn btn-default" type="button">Close</button>
                    <button ng-click="vm.saveBook(1)" class="btn btn-primary" type="button">Save &amp; Close</button>
                    <button ng-click="vm.saveBook(2)" class="btn btn-primary" type="button">Save &amp; New</button>


                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-8" style="padding-left:30px">

                    <h4>History</h4>
                    <table class="table table-striped">
                        <tr>
                            <td>Date</td>
                            <td>User</td>
                            <td>Status</td>

                        </tr>
                        <tr ng-repeat="h in vm.history track by $index">
                            <td>{{h.CreateDate | date: 'medium'}}</td>
                            <td>{{h.CreateBy}}</td>
                            <td>{{h.Status}}</td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-hide="vm.editing">

    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-10 col-md-10">
        
        <book-view book="vm.book" history="vm.history"></book-view>
    </div>
</div> 