<crumbs links="vm.links"></crumbs>
<p></p>
{{vm.book | json }}
<div ng-show="vm.editing">

    <div ng-show="vm.permissions.EditTitle">



        <div layout="row" layout-xs="column" layout-align="center" style="background-color: white">
            <div flex="10" hide-sm>&nbsp;</div>
            <div flex>
                <md-card>
                    <md-card-header ng-hide="vm.loading">
                       
                            <div style="width:90%" >
                                <span class="md-headline" ng-bind="vm.book.CallNumber"></span> <span class="md-headline"
                                    ng-bind="vm.book.Title">New Book</span>
                            </div>
                            <div  style="width:100px;float:right;text-align: center;  color:blue;border:solid 1px gray;padding:10px;">
                                <b>{{vm.book.Status}}</b></div>


                        
                    </md-card-header>
                    <md-content layout-padding ng-show="vm.editing">

                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-model="vm.book.Title">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Author (if more than one author, separate with an &)</label>
                            <input ng-model="vm.book.Author" placeholder="last name, first name">
                        </md-input-container>


                        <!-- SUBJECT START -->
                        <md-input-container class="md-block">
                            <label>Subject</label>
                            <md-select ng-model="vm.book.SubjectId">
                                <md-option ng-repeat="subject in vm.subjects" value="{{subject.SubjectId}}">
                                    {{subject.Name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <!-- SUBJECT END -->

                        <md-button class="md-raised" ng-if="!vm.book.CallNumber && vm.book.SubjectId"
                            ng-click="vm.ApplySubject()">Generate CallNumber</md-button>


                        <!--## START  IMAGE AND DESCRIPTION -->
                        <div layout="row" layout-md="column" ng-if="vm.book.CallNumber">
                            <div class="md-block" flex="50" ng-if="vm.bookImage!=''">
                                <label>Image </label><br />
                                <div
                                    style="width:300px;padding:10px;">
                                    <img ng-src="{{vm.bookImage}}" width="100%" />
                                </div>
                                <md-button class="md-raised" ng-click="vm.clearBookImage()">Remove Image</md-button>
                            </div>
                            <div class="md-block" flex="50" ng-if="vm.bookImage==''">
                                <div ng-if="!vm.image.uploading" style="text-align: center">

                                    <form name="myForm">

                                        <label for="txtFile" ng-if="!vm.file"
                                            class="md-button md-raised md-primary">Choose
                                            Image</label>
                                        <md-button class="md-raised  md-primary" ng-if="vm.file"
                                            ng-click="vm.uploadImage()">Upload Selection</md-button>
                                        <md-button class="md-raised" ng-if="vm.file" ng-click="vm.file=null">Clear
                                            Selection
                                        </md-button>


                                        <input id="txtFile" name="file" type="file" file-model="vm.file" class="ng-hide"
                                            output="bookimage">
                                    </form>
                                </div>
                            </div>

                            <md-input-container class="md-block" flex="50">
                                <label>Description</label>
                                <textarea ng-model="vm.book.Notes" md-maxlength="1500" rows="5"
                                    md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <!--## END IMAGE AND DESCRIPTION -->

                    </md-content>
                    <md-card-actions>

                        <div layout="row" layout-xs="column" layout-align="center" style="background-color: white"
                            ng-if="vm.book.CallNumber">
                            <div flex="10" hide-sm>&nbsp;</div>
                            <div flex>
                                <!--## START COMMAND LINE -->
                                <div layout="row" layout-md="column">
                                    <div flex="80">
                                        <md-button ng-click="vm.go('catalog')" class="md-raised">Close</md-button>
                                        <md-button ng-click="vm.saveBook(1)" class="md-raised md-primary">Save &amp;
                                            Close</md-button>
                                        <md-button ng-click="vm.saveBook(2)" class="md-raised md-primary">Save &amp; New
                                        </md-button>
                                    </div>
                                    <div flex="20" style="padding-top:10px;">
                                        <div style="float:right;"
                                            ng-if="vm.book.Status!='Checked Out' && vm.book.Status!='On Request'">
                                            <button type="button" class="btn btn-sm btn-danger"
                                                ng-click="vm.delete(vm.book);">
                                                Delete!</button>
                                            <button ng-if="vm.book.Status=='Active'" type="button"
                                                class="btn btn-sm btn-info" ng-click="vm.book.Status='Inactive'">Set as
                                                Inactive</button>
                                            <button ng-if="vm.book.Status=='Inactive'" type="button"
                                                class="btn btn-sm btn-primary" ng-click="vm.book.Status='Active'">Set as
                                                Active</button>
                                        </div>
                                        <div style="display:inline" ng-if="vm.book.Status=='Checked Out'">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                ng-click="vm.go('requests')">Check
                                                In</button>
                                        </div>
                                        <div style="display:inline" ng-if="vm.book.Status=='On Request'">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                ng-click="vm.go('requests')">Update
                                                Request</button>
                                        </div>
                                    </div>
                                </div>
                                <!--## END COMMAND LINE -->
                            </div>
                            <div flex="10" hide-sm>&nbsp;</div>
                        </div>

                    </md-card-actions>
                </md-card>
            </div>
            <div flex="10" hide-sm>&nbsp;</div>
        </div>




        <div layout="row" layout-xs="column" layout-align="center" style="background-color: white">
            <div flex="10" hide-sm>&nbsp;</div>
            <div flex>
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">History</span>

                            </md-title-text>
                    </md-card-header>
                    <md-card-content>

                        <table class="table table-striped">
                            <tr>
                                <td>Date</td>
                                <td>User</td>
                                <td>Status</td>

                            </tr>
                            <tr ng-repeat="h in vm.history track by $index">
                                <td>{{h.CreateDate | date: 'medium'}}</td>
                                <td>{{h.CreateBy}}</td>
                                <td>{{h.Status}}</td>

                            </tr>

                        </table>

                    </md-card-content>
                </md-card>

            </div>
            <div flex="10" hide-sm>&nbsp;</div>

        </div>


    </div>

</div>

<div ng-hide="vm.editing">

    <div layout="row" layout-xs="column" layout-align="center" style="background-color: white">
        <div flex="10" hide-sm>&nbsp;</div>
        <div flex>
            <book-view book="vm.book" history="vm.history"></book-view>
            <div flex="10" hide-sm></div>

        </div>
    </div>
</div>