

            <form method="post" class="form-vertical" style="padding-top:100px;">
                <div class="error">{{vm.errorMessage}}</div>
                <br>
                <div class="login-form" style="width:300px;margin-left:auto;margin-right:auto">

                    

                    <fieldset style="display:block">
                        <input type="hidden" name="redirect" value="">



                        <div class="control-group">
                            <div class="controls">
                                <input class="form-control required" ng-model="vm.username" placeholder="Username" type="text" autocomplete="on" />

                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input class="form-control required" ng-model="vm.password" ng-keypress="vm.LoginKey($event);" placeholder="Password" type="password"
                                    autocomplete="off" />
                                <div class="help-block">



                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <button type="button" ng-click="vm.Login()" class="btn btn-default btn-large btn-block">Sign in</button>




                        </div>

                    </fieldset>


                </div>
            </form>
     
     